.doctor_modal_container {  
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    & form div{
        align-items: center;
    }
}

#dark_doctor_modal_container{
    color: white;
    & > form > div{
        background-color: rgb(31, 30, 30);
        border: 0.5px solid white;
    }
}

.img_container { 
 width: fit-content; 
 margin-bottom: 8px;
}

#dark_img_container{
    & > div{
        background-color: transparent;
        border: 1px solid white;
     }
     & > div > div{
        background-color: black;
     }
}

.specialties_clinics_container { 
    display: flex;
    gap: 30px;
}

#dark_specialties_clinics_container{
    & div{
        background-color: transparent;
    }
    & > div > div > div{
        background-color: rgb(26, 25, 25);
    }
}

#color{
    box-sizing: border-box;
    height: 30px;
}


@media only screen and (max-width: 1155px) {
    .specialties_clinics_container { 
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
