.specialties_select_container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    font-weight: bold;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    & label{
        font-size: 1.25vw;
    }
    & select{
        width: 75%;
        height: 28px;
    }
}

.specialties_container{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75vw;
    font-weight: bold;
    margin-top: 5px;
    & div{
        display: flex;
        align-items: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        padding: 5px;
        border-radius: 5px;
    }
    & img {
        width: 1.2vw;
        margin-left: 2px;
    }
    & img:hover{
        cursor: pointer;
    }
    & img:active{
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 900px) {
    .specialties_select_container{
        height: min-content;
        width: 175px;
        height: 41px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0 8px;
        padding: 5px 5px 10px 5px;
        margin-bottom: 0px;
        overflow-y: scroll;
        & select{
            width:15vmin;
            height: 28px;
            margin-left: 3px;
        }
    }
}