.appointment_section{
    padding: 10px 10px 10px 10px;
    align-items: start;
    & > div:first-of-type{
        width:20%;
    }
}

@media only screen and (max-width: 900px) {
    .appointment_section{
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        gap: 15px;
        padding-top:20px ;
        & > div:first-of-type{
            width:98.5%;
            margin-top: 150px;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}