.patient_input_container{
    position: relative;
    & img{
        position: absolute;
        top: 43px;
        left: 19px;
        width: 18px;
    }
    & img:hover{
        cursor: pointer;
    }

    & img:active{
        transform: scale(0.9);
    }
    & input[type=search]{
        height: 28px;
        text-align: left;
        padding-left: 23px;
    }

    & ul{
        list-style-type: none;
        position: absolute;
        top: 50px;
        left: -24.5px;
        z-index: 1;
    }
    & li{
        background-color: white;
        border: 1px solid black;
        border-bottom: none;
        width: 164px;
        padding-left: 25px;
        font-size: 10pt;
        cursor: pointer;
    }

    & li:last-of-type {
        border-bottom: 1px solid black;
    }
}

#active{
    background-color: rgb(224, 224, 224);
}

#active_dark_mode{
    background-color: rgb(6, 6, 6);
}

.patient_input_dark_mode{
    & li{
        background-color: rgb(31, 31, 31);
    }
}